body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    background: #cc6d1f;
    width:100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.navigation-links ul li{
    display: inline-block;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    list-style-type: none;
    text-decoration: none;
    background-color:#1c1b69;
    color: white;
}

.navigation-links a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#profile-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.titles{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: justify;
}

#main-work {
    height: 300px;
    border-radius: 8px;
}

.secondary-work {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#contact a, #contact li {
    font-size:18px
    
}