body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    background: orange;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*header {
    background-color: orange;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    justify-content: space-between;
    display: flex;
    ext-shadow: 1px 1px 10px black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.title-name {
    font-weight: bolder;
    display: inline-flex;
}

.navigation-links ul li{
    display: inline;
    display: flex;
    float: right;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    list-style-type: none;
    text-decoration: none;
    background-color: darkblue;
    color: white;
}

.navigation-links a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.navigation-bar li a:hover {
    background-color: blue;
}


#main-work {
    height: 300px;
}

.second-work {
    height: 300px;
}

#profile-portrait {
    height:200px;
}

.about p {
    line-height: 20px;
}*/