body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}

header {
    display: flex;
    background: #cc6d1f;
    width:100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-shadow: 4px 4px 20px black;
}
.navigation-links ul {
    list-style-type:none;
    background-color: #1c1b69;
    overflow: hidden;
}

.navigation-links li {
    float:left;
}

.navigation-links li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

.navigation-links li a:hover {
    text-decoration: underline;
    background-color: #cc6d1f;
}

#about, #work, #contact {
    margin: 30px;
    padding: 10px;
    background-color: whitesmoke;
    border-style:solid;
    border-radius: 20px;
}

#profile-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.titles{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: lighter;
}

p {
    font-size: 20px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: justify;
}

 #work {
    text-align: center;
 }

#main-work {
    height: 350px;
    width:75%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    margin: 10px;
}

.secondary-work {
    height:300px;
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
    display: inline-block;
}

.text {
    position: relative;
  }
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    letter-spacing: 2px;
  }

#contact ul {
    text-align: center;
}

#contact a, #contact li {
    color: black;
    font-size:18px;
    text-align: center;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    padding: 5px;
}

#contact li:hover {
    text-decoration: underline;
}

footer h6 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}